---
layout: markdown_page
title: "mStaff"
---

## On this page

- TOC
{:toc}

## Common Links

| **Workflow** | [**How may we be of service?**](../production/#workflow--how-we-work) | **GitLab.com Status** | [**`STATUS`**](https://status.gitlab.com/)
| **Issue Trackers** | [**Infrastructure**](https://gitlab.com/gitlab-com/gl-infra/infrastructure/issues/): [Milestones](https://gitlab.com/gitlab-com/gl-infra/infrastructure/milestones), [OnCall](https://gitlab.com/gitlab-com/gl-infra/infrastructure/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=oncall) | [**Production**](https://gitlab.com/gitlab-com/gl-infra/production/issues/): [Incidents](https://gitlab.com/gitlab-com/gl-infra/production/issues?label_name%5B%5D=incident), [Changes](https://gitlab.com/gitlab-com/gl-infra/production/issues?label_name%5B%5D=change), [Deltas](https://gitlab.com/gitlab-com/gl-infra/production/issues?label_name%5B%5D=delta)  | [**Delivery**](https://gitlab.com/gitlab-com/gl-infra/delivery/issues)
| **Slack Channels** | [#sre-lounge](https://gitlab.slack.com/archives/sre-lounge), [#database](https://gitlab.slack.com/archives/database) | [#alerts](https://gitlab.slack.com/archives/alerts), [#production](https://gitlab.slack.com/archives/production) | [#g_delivery](https://gitlab.slack.com/archives/g_delivery)
| **Operations** | [Runbooks](https://gitlab.com/gitlab-com/runbooks) (please contribute!) | **On-call**: [Handover Document](https://docs.google.com/document/d/1IrTi06fUMgxqDCDRD4-e7SJNPvxhFML22jf-3pdz_TI), [Reports](https://gitlab.com/gitlab-com/gl-infra/infrastructure/issues?scope=all&utf8=%E2%9C%93&state=closed&label_name[]=oncall%20report) |

## Infrastructure mStaff

**Infrastructure mStaff** is a loose denomination for the group of people who report diretly to the Director of Engineering, Infrastructure. This is a group composed of both managers and individual contributors, and they are responsible for the overall direction of Infrastructure and the achievement of our goals:

<%= direct_team(manager_role: 'Director of Engineering, Infrastructure')%>

## Infrastructure mStaff Board

The **[Infrastructure mStaff Board](https://gitlab.com/gitlab-com/gl-infra/infrastructure/-/boards/1240891)** collects issues for all managers (including the Director) and mStaff-level individual contributors (e.g., the Infrastructure Operations Analyst and Distinguished Engineer).

* **<https://gitlab.com/gitlab-com/gl-infra/infrastructure/-/boards/1240891>**

### Labels

The `Infrastructure mStaff` label will automatically add issues to the board. Lists are driven by the following labels:

| Label                        | List                                        | Focus          |
| ---------------------------- | ------------------------------------------- | -------------- |
| `Director of Infrastructure` | Director of Infrastructure                  | Infrastructure |
| `team::CI/CD & Enablement`   | Reliability Engineering: CI/CD & Enablement | Reliability    |
| `team::Dev & Ops`            | Reliability Engineering: Dev & ops          | Availability   |
| `team::Secure & Defend`      | Reliability Engineering: Secure and Defend  | Observability  |
| `team::Delivery`             | Delivery Engineering                        | Scalability    |
| `DE::Infrastructure`         | Distinguished Engineer, Infrastructure      | Infrastructure |
| `OA::Infrastructure`         | Operations Analyst, Infrastructure          | Cost           |

Other labels are relevant to issues in the board:

| Label             | Purpose                                                      |
| ----------------- | ------------------------------------------------------------ |
| `OKR`             | Denotes OKR-related issue. It is used to communicate status and progress for quarerly KRs as assigned to erach team. |
| `KPI`             | Denotes KPI-related issue. It is used to track progress on definition, implementation and tracking of Infrastructure KPIs. |
| `workflow::state` | Denotes the state of an issue according to our [workflow](https://gitlab.com/gitlab-com/gl-infra/infrastructure/-/labels?utf8=%E2%9C%93&subscribed=&search=workflow) conventions: `Ready`, `In Progress`, `Under Review`, `Blocked`, `Done`, and `Cancelled`. |

